body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 320px;
    font-family: sans-serif;
    background-color: rgba(250, 250, 255, 1);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    line-height: 45px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(200, 200, 200, 1);
    background-color: #FACAC0;

}

main {
    padding-top: 46px;
    padding-bottom: 51px;
}

main tab-section {
    display: none;
}

main tab-section.active {
    display: block;
}

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

#right-panel {
font-family: 'Roboto','sans-serif';
line-height: 30px;
padding-left: 10px;
background-color: #B7E3E4;
}

#right-panel select, #right-panel input {
font-size: 15px;
}

#right-panel select {
width: 100%;
}

#right-panel i {
font-size: 12px;
}
#right-panel {
height: 100%;
float: right;
width: 390px;
overflow: auto;
}

.content {
    z-index: 1; 
    position: absolute;
}

#map-loading {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -100px;
    z-index: 129;
}

#map-outer {
    position: fixed;
    width: 100%;
    height: calc(100% - 92px);
    top: 46px;
    left: 0;
}

/*#map {
    height: 100%;
}*/

#found-form {
    padding: 15px;
}

#found-form label {
    display: block;
    margin: 15px 0;
}

#found-form input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgba(230, 230, 230, 1);
    width: calc(100% - 22px);
}

#found-form textarea {
    resize: none;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgba(230, 230, 230, 1);
    width: calc(100% - 22px);
    height: 80px;
}

#found-form button {
    margin-top: 15px;
    padding: 0;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border-radius: 3px;
    border: none;
    text-align: center;
    background-color: rgba(237, 154, 43, 1);
    color: rgba(255, 255, 255, 1);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    min-width: 320px;
    width: 100%;
    height: 45px;
    z-index: 128;
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.2);
    background-color: rgba(255, 255, 255, 1);
}

footer tab {
    display: block;
    width: 50%;
    height: 100%;
    line-height: 45px;
    border-top: 1px solid rgba(200, 200, 200, 1);
    text-align: center;
    cursor: pointer;
}

footer tab:hover {
    background-color: rgba(250, 250, 250, 1);
}

footer tab:active {
    background-color: rgba(245, 245, 245, 1);
}

footer tab.active {
    color: rgba(237, 154, 43, 1);
    line-height: 48px;
    border-top: 2px solid rgba(237, 154, 43, 1);
}
