/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 92%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.button-collapse {
  position: absolute;
  left: 20px;
  top: 12px;
}
#list {
  font-size: 36px;
  color: white;
}

.sidenav {
    display: none;
    height: 100%;
    width: 320px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(238, 210, 222, 0.68);
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#openRightNav {
  position: absolute;
  top:50px;
  right:50px;
}
.likebtn {
  color:pink;
}

.bluenav {
  background-color: rgba(177, 227, 249, 0.6);
}
.card {
  position: absolute;
  bottom: 200px;
  left: 50px;
  height: 120px;
  width: 130px;
}
#legend {
  height: 120px;
  width: 130px;
}
.collapsible-body {
  color: rgb(252, 189, 227);
}
/*@keyframes whoosh {
  from { motion-offset: 0%; }
  to { motion-offset: 100%; }
}

#pinkstar {
    motion-path: path("M0,0c99.75,45,345.68,139.89,663,97,298.45-40.34,501.64-181.16,588-249");
    motion-rotation: auto;
    animation-name: whoosh;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}*/
